@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .pet-info-section {
    background: linear-gradient(
      140.12deg,
      rgba(255, 184, 184, 0.2) 0.16%,
      rgba(247, 217, 217, 0.7) 100%
    );

    backdrop-filter: blur(40px);
  }

  .pet-info-button {
    background: linear-gradient(99.29deg, #f9f3f3 0%, #e7e7e7 114.09%);
    backdrop-filter: blur(400px);
  }

  .pet-dark-info-section {
    background: linear-gradient(
      140.12deg,
      rgba(35, 33, 34, 0.7) 3.4%,
      rgba(17, 16, 16, 0.9) 100%
    );
    backdrop-filter: blur(40px);
  }

  .pet-card-image {
    flex: 0 0 auto;
  }

  .glassmorphism-gradient {
    background: linear-gradient(
      140.12deg,
      rgba(255, 184, 184, 0.2) 0.16%,
      rgba(247, 217, 217, 0.7) 100%
    );
    backdrop-filter: blur(40px);
  }

  .pet-card-gradient {
    background: linear-gradient(
      173.39deg,
      #ffffff -0.06%,
      rgba(255, 219, 219, 0.76) 64.84%
    );
  }

  .pet-card-dark-gradient {
    background: linear-gradient(173.39deg, #111010 30%, #111010 70%);
  }

  .toast-shadow {
    filter: drop-shadow(1px 1px 2px rgba(109, 108, 108, 0.4));
  }

  .spinner-border {
    border-left-color: #ea2a69;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

html,
body {
  padding: 0;
  margin: 0;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
