@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .pet-info-section {
    background: linear-gradient(
      140.12deg,
      rgba(255, 184, 184, 0.2) 0.16%,
      rgba(247, 217, 217, 0.7) 100%
    );

    backdrop-filter: blur(40px);
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
